{% extends "index/layout.html" %}
{% block title %}Platform as a service AR solution.{% endblock %}
{% block css %}
{% endblock %}
{% load static %}

{% block navbar%}
<header id="header">
    <div class="header-nav">
        <h1 class="logo">
            <a href="">AR MOD</a>
        </h1>
        <div class="nav-menu">
            <div class="nav-menu-scrim scrim"></div>
            <ul class="menu-list">
                {% for nav in navbars %}
                {% if nav.navbar_subs %}
                <li id='{{nav.navbar_title}}' class="menu-item nested accordion" data-accordion=""
                    onclick="showaccordion(this)">
                    <a class="menu-link accordion__toggle " href="#">{{nav.navbar_title}}</a>
                    <ul class="sub-list accordion__content" style="width: 100px;">
                        {% for key,value in nav.navbar_subs.items %}
                        <li>
                            <a href="{{value}}" target="_blank" class="">{{key}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="menu-item">
                    <a class="menu-link {% if nav.sort_id == 0 %} current {% endif %}" href="{{nav.navbar_url}}"
                        target="_blank">{{nav.navbar_title}}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% if dashboard_nav %}
        <p class="download">
            <a href="{{dashboard_nav.navbar_url}}" target="_blank">{{dashboard_nav.navbar_title}}</a>
        </p>
        {% endif %}

        <a class="nav-menu-toggle burger" id='navbar_mobile' href="#">
            <span class="bars">
                <span class="bar bar-1"></span>
                <span class="bar bar-2"></span>
                <span class="bar bar-3"></span>
            </span>
        </a>
    </div>
</header>
{%endblock%}

{% block main %}
<main id="main">
    <div class="main-inner">
        <div class="home-wrapper" data-js-module="">
            <div class="section home-hero" data-js-module="">
                <a name="hero" class="anchor"></a>
                <div class="lead">
                    <img class="lead__image" src="{{header.header_lead_image}}">
                    <div class="content">
                        <p class="eyebrow" style="color: rgb(255, 255, 255);">{{header.header_copyright_info}}</p>
                        <h1 class="title" style="color: rgb(255, 255, 255); font-size: 50.5px;letter-spacing: -.02px;font-weight: 600;">{{header.header_name}}</h1>
                        <p class="" style="color: rgb(255, 255, 255);">{{header.header_descript}}</p>
                        {% if header.header_download_url %}
                        <div class="download-container">
                            <a class="btn cta" href="{{header.header_download_url}}" target="_blank"
                                style="color: rgb(255, 255, 255);border-color:rgb(255, 255, 255);">{{header.header_download_title}}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="bgvideo">

                    <video muted="" autoplay="" playsinline="" loop="" preload="auto"
                        poster="{{header.header_video_bg_url}}" src="{{header.header_video_url}}">
                    </video>
                </div>
                <!-- <div
                    style="position:absolute;top: 0;left: 0;width: 100%;height: 100%;background-image: linear-gradient(to right, #434343 0%, black 100%); opacity: 0.5;">
                </div> -->
                <div class="bgimage">
                    <img src="{{header.header_video_bg_url}}" alt="background">
                </div>
            </div>
            <div class="home-showcase section">
                <a name="showcase" class="anchor"></a>
                <div class="container">
                    <div class="heading">
                        <h2>{{header.header_showcase_title}}</h2>
                        <div class="blurb">
                            <p>
                                {{header.header_showcase_descript}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-exposition white section main-section">
                <a name="exposition" class="anchor"></a>
                <div class="container">
                    <div class="content">
                        <ol class="steps">

                            {% for keybenfit in keybenfits %}

                            <li class="step step-{{keybenfit.keybenfit_type}}">
                                <div class="description">
                                    <h3>{{keybenfit.keybenfit_title}}</h3>
                                    <div class="blurb">
                                        <p>
                                            {{keybenfit.keybenfit_description}}
                                        </p>
                                    </div>
                                </div>
                                <div class="video">
                                    <div class="video-player standard autoplaying is-playing"
                                        data-video="{{keybenfit.keybenfit_video_url}}" data-js-module="">
                                        <div class="wrapper">
                                            <video id="{{keybenfit.id}}" playsinline="" loop="" muted="" autoplay=""
                                                preload="metadata" webkit-playsinline=""
                                                src="{{keybenfit.keybenfit_video_url}}" poster=""
                                                onchange="videoStateChange(this)">
                                            </video>
                                            <div class="ratio" style="padding-bottom:%;"></div>
                                        </div>
                                        <div class="controls">
                                            <div id='{{keybenfit.id}}_playbtn' class="playbutton btn show"
                                                onclick="playVideo('#{{keybenfit.id}}')">
                                                <div class="arrow"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>

                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            {% if guides %}
            <div class="home-exposition black section main-section">
                <a name="exposition" class="anchor"></a>
                <div class="container">
                    {% for guide in guides %}
                    <div class="heading">
                        <h2>{{guide.guide_selection}}</h2>
                    </div>
                    <div class="content">
                        <ol class="steps">
                            {% for step in guide.guide_subs %}
                            <li class="step step-{{step.guide_type}}">
                                <div class="description">
                                    <h3>{{step.guide_title}}</h3>
                                    <div class="blurb">
                                        <p>{{step.guide_description}}</p>
                                    </div>
                                </div>
                                <div class="video">
                                    <div class="video-player standard autoplaying is-playing"
                                        data-video="{{step.guide_video_url}}" data-js-module="">
                                        <div class="wrapper">
                                            <video playsinline="" loop="" muted="" autoplay="" preload="metadata"
                                                src="{{step.guide_video_url}}" poster="">
                                            </video>
                                            <div class="ratio" style="padding-bottom:%;"></div>
                                        </div>
                                        <div class="controls">
                                            <div class="playbutton btn show">
                                                <div class="arrow"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>

                            {% endfor %}
                        </ol>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</main>

<!-- Footer -->
<center>
    <footer class="footer-main">
        <div class="row"  style="margin:50px;">
            <div class="copyright">
                © 2021 <a href="" class="font-weight-bold" target="_blank">AR-MOD</a>
            </div>

            <div class="copyright">
               <a href="https://beian.miit.gov.cn/" class="font-weight-bold" target="_blank">闽ICP备16030032号</a>
            </div>
        </div>
    </footer>
</center>


{% endblock %}

{% block script %}


<script>
    var current_video_element = null;
    var current_play_video_button_element = null
    if (browser.versions.mobile) {
        $("video").each(function () {
            $(this).get(0).pause();
        });
        $(".playbutton").css({ display: "block" })
    }

    function playVideo(id) {
        if (current_play_video_button_element && current_video_element) {
            current_play_video_button_element.css({ display: "block" })
            current_video_element.pause()
        }

        current_video_element = $(id).get(0)
        current_video_element.play();

        current_play_video_button_element = $("{0}_playbtn".Format(id))
        current_play_video_button_element.css({ display: "none" })
    }

    $("#navbar_mobile").click(function () {
        var body = $(".sk-enabled")
        if (body.attr('class').includes("nav-menu-showing"))
            body.removeClass('nav-menu-showing')
        else
            body.addClass('nav-menu-showing')
    })
    function showaccordion(e) {
        var sub_item = $("#{0}".Format(e.id))
        var url = sub_item.find('ul')
        url.animate({ height: 'toggle' });


        if (sub_item.attr('class').includes("accordion--active")) {
            sub_item.removeClass('accordion--active')
            sub_item.prop('aria-expanded', false)
        } else {
            sub_item.addClass('accordion--active')
            sub_item.prop('aria-expanded', true)
        }

        if (url.attr('class').includes("is-active")) {
            url.removeClass('is-active')
            url.prop('aria-hidden', true)
            url.animate({ height: 'hide' });
        }
        else {
            url.addClass('is-active')
            url.prop('aria-hidden', false)
            url.animate({ height: 'show' });
        }
    }
</script>

{% endblock%}