<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Platform as a service AR solution. AR-MOD is a derivative framework based on Unity ARFoundation.supported iOS and Android">
    <meta itemprop="name" content="Platform as a service AR solution.">
    <meta name="description" itemprop="description"
        content="AR-MOD is a derivative framework based on Unity ARFoundation.supported iOS and Android">
    <meta itemprop="image" content="/static/img/brand/favicon.png">
    <meta name="author" content="ARMOD">
    <title>隐私政策|XRMOD Engine|助您构建属于您私人的XR平台</title>
    <link rel="icon" href="/static/img/brand/favicon.png" type="image/png">
    <!-- <link rel="stylesheet" href="/static/css/index.main.bundle.css" type="text/css"> -->
    <style>
        *,
        ::after,
        ::before {
            box-sizing: content-box
        }
        p{text-indent: 2em;color: black;}
    </style>

    <link rel="stylesheet" href="/static/css/googleapis.css?family=Open+Sans:300,400,600,700" type="text/css">
    <link rel="stylesheet" href="/static/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/static/vendor/%40fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vendor/animate.css/animate.min.css">
    <link rel="stylesheet" href="/static/css/argon.min.css?v=1.1.0" type="text/css">
</head>

<body class="g-sidenav-hidden">
    <div class="main-content">
        <div class="container py-5">
        <h4 class="text-center">Privacy policy</h4>
        <p>We should respect and protect all users’ privacy. In order to provide you with more accurate and personalized services, this application will use and disclose your personal information in accordance with the provisions of this privacy policy. But this should be treated with diligence and prudence. Except as otherwise provided in this Privacy Policy, this application will not disclose or provide such information to the third party without your prior permission. This privacy policy should be updated from time to time. When you use this application service, you are deemed to have agreed all the contents of this privacy policy. This privacy policy is an integral part of the application service agreement.</p>
        <p>1. scope of application</p>
        <p>a) when you use this application service, you authorize the relevant permissions according to the application requirements.</p>
        <p>2. use of information</p>
        <p>a) after obtaining your access right, this application will use these permissions to provide services.</p>
        <p>b) this application will not use unauthorized permissions without authorization.</p>
        <p>3. information disclosure</p>
        <p>a) this application will not disclose your information to an untrusted third party.</p>
        <p>b) Disclosure to the third unit or to the administrative or judicial organs in accordance with the relevant provisions of the law or the requirements of the administrative or judicial organs;</p>
        <p>c) If you violate the relevant laws and regulations of China or the application service agreement or relevant rules, you need to disclose to a third party;</p>
        <p>4. information storage and exchange</p>
        <p>a) The data generated by this application will be saved in the sandbox of this application, stored locally, and will not be uploaded to any server actively. Please feel free to use it.</p>
        <p>5. information security&nbsp;</p>
        <p>a) this application data is stored in this application sandbox, please keep your own equipment properly.&nbsp;</p>
        <p>6.Use of TrueDepth APIs</p>
        <p>a) When you use a device with FaceID function (such as iPhoneX), the AR connection function will use TrueDepth APIs to achieve better visual effects. </p>
        <p>b) During this process, only the TrueDepth APIs are used for scene rendering. </p>
        <p>c) The use of TrueDepth APIs does not collect user face information. </p>
        <p>d) The use of TrueDepth APIs will not cause any other operations such as caching to files or uploading to the cloud to record user face information. </p>
        <p>e) The use of TrueDepth APIs does not share user face information. </p>
        <p>f) During the process, no other operations such as caching to files or uploading to the cloud will be performed to record the user's Face information. </p>
    </div>
    </div>
</body>


</html>