<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Platform as a service AR solution. AR-MOD is a derivative framework based on Unity ARFoundation.supported iOS and Android">
    <meta itemprop="name" content="Platform as a service AR solution.">
    <meta name="description" itemprop="description"
        content="AR-MOD is a derivative framework based on Unity ARFoundation.supported iOS and Android">
    <meta itemprop="image" content="/static/img/brand/favicon.png">
    <meta name="author" content="ARMOD">
    <title>隐私政策|XRMOD Engine|助您构建属于您私人的XR平台</title>
    <link rel="icon" href="/static/img/brand/favicon.png" type="image/png">
    <!-- <link rel="stylesheet" href="/static/css/index.main.bundle.css" type="text/css"> -->
    <style>
        *,
        ::after,
        ::before {
            box-sizing: content-box
        }
        p{text-indent: 2em;color: black;}
    </style>

    <link rel="stylesheet" href="/static/css/googleapis.css?family=Open+Sans:300,400,600,700" type="text/css">
    <link rel="stylesheet" href="/static/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/static/vendor/%40fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vendor/animate.css/animate.min.css">
    <link rel="stylesheet" href="/static/css/argon.min.css?v=1.1.0" type="text/css">
</head>

<body class="g-sidenav-hidden">
    <div class="main-content">
        <div class="container py-5">
        <h4 class="text-center">隐私政策</h4>
        <p>
            本应⽤尊重并保护所有使用服务用户的个⼈隐私权。为了给您提供更准确、更有个性化的服务，本应用会按照本隐私权政策的规定使用和披露您的个⼈信息。但本应⽤将以⾼度的勤勉、审慎义务对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，本应用不会将这些信息对外披露或向第三⽅提供。本应⽤会不时更新本隐私权政策。您在使用本应用服务时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于本应用服务使用协议不可分割的⼀部分。
        </p>
        <p>1.适用范围&nbsp;</p>
        <p>a)在您使用本应用服务时，您根据本应用要求授权相关权限; 如果未授权相关权限，部分功能将无法正常使用。</p>
        <p>2.信息的使用&nbsp;</p>
        <p>a)在获得您的访问权限之后，本应用会将会使用这些权限提供服务。</p>
        <p>b)本应用不会擅自使用未经许可的权限。</p>
        <p>3.信息披露</p>
        <p>a)本应用不会将您的信息披露给不受信任的第三⽅。&nbsp;</p>
        <p>b)根据法律的有关规定，或者⾏政或司法机构的要求，向第三⽅或者行政、司法机构披露;&nbsp;</p>
        <p>c)如您出现违反中国有关法律、法规或者本应用服务协议或相关规则的情况，需要向第三方披露;&nbsp;</p>
        <p>4.信息存储和交换</p>
        <p>a)本应用产生的有关您的数据将保存在本应用沙盒中，存储于本地，不会主动上传至任何服务器，请放心使用。</p>
        <p>5.信息安全</p>
        <p>a)本应用数据存储于本应用沙盒中，请妥善保管自己的设备。&nbsp;</p>
        <p>6.TrueDepth APIs的使用</p>
        <p>a) 当您使用具有FaceID功能的设备（例如iPhoneX）时的AR连麦功能会使用到TrueDepth APIs，以达到更好的视觉效果。</p>
        <p>b) 在此过程中，仅使用TrueDepth APIs进行场景渲染。</p>
        <p>c) TrueDepth APIs使用不会收集用户Face信息。</p>
        <p>d) TrueDepth APIs使用不会产生任何缓存到文件或上传到云端等其他任何记录用户Face信息的操作。</p>
        <p>e) TrueDepth APIs使用不会分享用户Face信息。</p>
        <p>f) 过程中不会进行任何缓存到文件或上传到云端等其他任何记录用户Face信息的操作。</p>
    </div>
    </div>
</body>


</html>