<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Platform as a service AR solution. Start your AR experiences.">
    <meta name="author" content="ARMOD">

    <title>ARMOD - {% block title %}{% endblock %}|Platform as a service AR solution.</title>

    <link rel="icon" href="{% static 'img/brand/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/googleapis.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'vendor/nucleo/css/nucleo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/argon.min.css' %}" type="text/css">
    <style>
        ::-webkit-scrollbar {
            width: 8px;
            height: 10px;
        }
    
        ::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .2);
            border-radius: 6px;
            cursor: pointer;
        }
    
        ::-webkit-scrollbar-track {
            background-color: #ddd;
            border-radius: 6px;
        }
    </style>
    {% block head%}
    {% endblock %}
</head>

<body class="bg-default">
    <nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/brand/white.png' %}">
            </a>
            <!-- 适配手机 -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- 适配手机 -->

            <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="">
                                <img src="{% static 'img/brand/blue.png' %}">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <hr class="d-lg-none" />
                <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://www.facebook.com/groups/149144973642207/"
                            target="_blank" data-toggle="tooltip" data-original-title="Join our community">
                            <i class="fab fa-facebook-square"></i>
                            <span class="nav-link-inner--text d-lg-none">Join our community</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://www.reddit.com/user/phantomxm2021" target="_blank" data-toggle="tooltip"
                            data-original-title="Join our community">
                            <i class="fab fa-reddit"></i>
                            <span class="nav-link-inner--text d-lg-none">Reddit</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://twitter.com/Phantom74605762" target="_blank"
                            data-toggle="tooltip" data-original-title="Join our community">
                            <i class="fab fa-twitter-square"></i>
                            <span class="nav-link-inner--text d-lg-none">Twitter</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://discord.gg/4CYH5pfrgA" target="_blank" data-toggle="tooltip"
                            data-original-title="Join our community">
                            <i class="fab fa-discord"></i>
                            <span class="nav-link-inner--text d-lg-none">Discord</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://github.com/Phantomxm2021" target="_blank" data-toggle="tooltip"
                            data-original-title="Star us on Github">
                            <i class="fab fa-github"></i>
                            <span class="nav-link-inner--text d-lg-none">Github</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    {% block body %}

    {% endblock %}

    {% block footer %}
    <footer class="py-5" id="footer-main">
        <div class="container">
            <div class="row align-items-center justify-content-xl-center">
                <div class="copyright text-center text-muted">
                    &copy; 2021 <a href="#" class="font-weight-bold ml-1" target="_blank">ARMOD</a> Copyright
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}



    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
    <script src="{% static 'js/argon.js' %}"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
    {% block js%}

    {% endblock %}
</body>

</html>