{% extends "dashboardbase.html" %}
{% load static %}
{% block title %}
Applications
{% endblock %}

{% block head%}
{% endblock %}

{% block body %}

<!-- Page content -->
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <h3 class="col-sm lang" key="text_app_center">Applications</h3>
        <div class="col-sm text-right">
          <button class="btn btn-sm btn-outline-default lang" key="text_app_new_app_btn"
            data-target="#create-new-modal-App" data-toggle="modal">NEW
            APP</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <!-- <div class="card-body"> -->
      <div class="row">
        {% for app in applist %}
        <div class="col-md-4 col-lg-2 align-items-center justify-content-center">
          {% include 'dashboard/application_item.html' with app=app %}
        </div>
        {% empty %}
        <label class="col text-center lang text-muted" key="text_empty_app_list"></label>
        {% endfor %}

      </div>
    <!-- </div> -->
  </div>


  {% if applist.has_other_pages %}
  <nav aria-label="...">
    <ul class="pagination justify-content-end mb-0">
      {% if applist.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ applist.previous_page_number }}" tabindex="-1">
          <i class="fas fa-angle-left"></i>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}
      {% for page_num in applist.paginator.page_range %}
      {% if page_num == applist.number %}
      <li class="page-item active">
        {% else %}
      <li class="page-item">
        {% endif %}
        <a class="page-link" href="?page={{page_num}}">{{page_num}}</a>
      </li>
      {% endfor %}
      {% if applist.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ applist.next_page_number }}">
          <i class="fas fa-angle-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="create-new-modal-App" tabindex="-1" role="dialog"
  aria-labelledby="create-new-modal-App-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title lang" key="text_new_app_title" id="AppModalLabel">New Application</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id='createapp_form' role="form" action="{% url 'applications:apps' %}" method='post'
          class="needs-validation" novalidate>
          {% csrf_token %}

          <div class="row">
            <div class="col-md-4">
              <div class="mt-1">
                <div class="form-group">
                  <input type="file" hidden="" class="custom-file-input" id="app_icon_image" multiple="multiple"
                    accept="image/jpg,image/jpeg">
                  <label for="app_icon_image" class="img-container avatar-150">
                    <img id='app_icon_image_display' class="card-img-top avatar avatar-150" src=""
                      onerror="javascript:this.src='{% static 'img/theme/logo.jpg' %}';">
                    <div class="overlay">
                      <span class="lang" key="text_upload_file">Upload</span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="needs-validation" novalidate>
                <label for="App-text-input" class="form-control-label lang" key="text_new_app_name">Application
                  Name</label>
                <input id='app_name' class="form-control" type="text" placeholder="ARMOD Example" name='appname'>
              </div>

              <div>
                <label for="package-text-input" class="form-control-label lang" key="text_new_app_package_name">Package
                  Name</label>
                <input id='packageid' class="form-control" type="text" placeholder="com.phantoms.armod" name=''
                  required>
                <div id='Tips' class="invalid-feedback"></div>
              </div>

            </div>
          </div>



          <div class="form-group">
            <label for="descript-text-input" class="form-control-label lang"
              key="text_new_app_description">Description</label>
            <textarea id='description' class="form-control" type="text" placeholder="Describe your application" rows="3"
              name='description'></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id='createapp' type="button" class="btn btn-primary lang" key="text_new_app_create">Create App</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block js %}

<script src="{% static 'js/customnotify.js' %}"></script>
<script src="{% static 'js/drawimg.js' %}"></script>
<script src="{% static 'js/createapp.js' %}"></script>
{% endblock %}