{% extends "dashboardbase.html" %}
{% load static %}
{% block title %}
ARExperiences
{% endblock %}


{% block body %}
{% csrf_token %}


<div class="container-fluid">
  <div class="card shadow-lg mx-4 card-profile-bottom">
    <div class="card-body p-3">
      <div class="row">
        <h3 class="col-sm lang" key="text_project_center">Projects</h3>
        <div class="col-sm text-right">
          {% include 'dashboard/arexperience_list_menu.html'%}
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row ml-2 mr-2">
      {% for project in arexperience_projects %}
      <div class="col-md-3 py-2">
        {% include 'dashboard/arexperience_project_item.html' with project=project %}
      </div>
      {% endfor %}
    </div>
  </div>

  {% if arexperience_projects.has_other_pages %}
  <nav aria-label="...">
    <ul class="pagination justify-content-end mb-0">
      {% if arexperience_projects.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ arexperience_projects.previous_page_number }}" tabindex="-1">
          <i class="fas fa-angle-left"></i>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}
      {% for page_num in arexperience_projects.paginator.page_range %}
      {% if page_num == arexperience_projects.number %}
      <li class="page-item active">
        {% else %}
      <li class="page-item">
        {% endif %}
        <a class="page-link" href="?page={{page_num}}">{{page_num}}</a>
      </li>
      {% endfor %}
      {% if arexperience_projects.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ arexperience_projects.next_page_number }}">
          <i class="fas fa-angle-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

</div>

{% include 'dashboard/arexperience_create_modal.html' %}
{% include 'dashboard/arexperience_delete_modal.html' %}
{% include 'dashboard/arexperience_app_info_modal.html' %}
{% include 'dashboard/application_delete_modal.html' %}
{% include 'dashboard/arexperience_detail_overlay.html' %}
{% include 'dashboard/tagmanager_overlay.html' %}



{% endblock %}


{% block js %}
<script src="{% static 'js/drawimg.js' %}"></script>
<script src="{% static 'js/createproject.js' %}"></script>
<script src="{% static 'js/project_update.js' %}"></script>
<script src="{% static 'js/tagmanager.js' %}"></script>
<!-- <script src="{% static 'js/qrcode.js' %}"></script> -->

<script>
  function openSideDrawer() {
    document.getElementById("side-drawer").style.right = "0";
    document.getElementById("side-drawer-void").classList.add("d-block");
    document.getElementById("side-drawer-void").classList.remove("d-none");
  }

  function closeSideDrawer() {
    document.getElementById("side-drawer").style.right = "-500px";
    document.getElementById("side-drawer-void").classList.add("d-none");
    document.getElementById("side-drawer-void").classList.remove("d-block");
  }

  window.openSideDrawer = openSideDrawer;
  window.closeSideDrawer = closeSideDrawer;

  function openTagManagerSideDrawer() {
    document.getElementById("side-drawer-full").style.right = "0";
    document.getElementById("side-drawer-full-void").classList.add("d-block");
    document.getElementById("side-drawer-full-void").classList.remove("d-none");
  }

  function closeTagManagerSideDrawer() {
    document.getElementById("side-drawer-full").style.right = "-800px";
    document.getElementById("side-drawer-full-void").classList.add("d-none");
    document.getElementById("side-drawer-full-void").classList.remove("d-block");
  }


  window.openTagManagerSideDrawer = openTagManagerSideDrawer;
  window.closeTagManagerSideDrawer = closeTagManagerSideDrawer;


  var no_data = 'No Data'
  var clipboard = new ClipboardJS('.btn');
  clipboard.on('success', function (e) {
    e.clearSelection();
    setTooltip('Copied!')
    hideTooltip();
  });

  clipboard.on('error', function (e) {
    setTooltip('Failed!');
    hideTooltip();
  });

  Date.prototype.Format = function (fmt) { // author: meizz
    var o = {
      "M+": this.getMonth() + 1, // 月份
      "d+": this.getDate(), // 日
      "h+": this.getHours(), // 小时
      "m+": this.getMinutes(), // 分
      "s+": this.getSeconds(), // 秒
      "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
      "S": this.getMilliseconds() // 毫秒
    };
    if (/(y+)/.test(fmt))
      fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
      if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
  }

  $("#copytoken").tooltip({
    trigger: 'click',
    placement: 'top'
  })

  function setTooltip(message) {
    $('#copytoken').tooltip('hide')
      .attr('data-original-title', message)
      .tooltip('show');
  }
  function hideTooltip() {
    setTimeout(function () {
      $('#copytoken').tooltip('hide');
    }, 500);
  }


  var app_uid = "{{appinfo.app_uid}}";
  // var projectname = '';
  // var arexperience_uid = -1
  // function onselected(app_uid, arexperience_uid, projectname) {
  //   this.app_uid = app_uid;
  //   this.arexperience_uid = arexperience_uid;
  //   this.projectname = projectname;
  // }
</script>


{% endblock %}