<a  type="button" onclick="getprojectdetail({{project.app_uid}},{{project.project_id}},'{{project.project_name}}')">
    <!-- <div class="card-body"> -->
    <div class="row align-items-center">
        <img class="avatar avatar-custom-lx shadow-lg" src="{{project.project_icon}}">
        <div class="ps-3 ml-3">
            <h3>{{project.project_name}}</h1>
                <div class="stats">
                    <small class="text-muted">{{project.create_time}}</small>
                </div>
        </div>
    </div>
    <!-- </div> -->
</a>