<div id="side-drawer" class="position-fixed">
  <div class="h-100 bg-white">
    <div class="scrollbar-inner">
      <div class="col">
        <div style="box-sizing: border-box; padding: 30px; width: 100%;">
          <h6 class="heading-small text-muted lang" key="text_project_base_info">BASE INFOMATION</h6>
          <hr class="my-2">
          <div class="row">
            <div class="col-md-4">
              <input type="file" hidden="" class="custom-file-input" id="project_icon_image" multiple="multiple"
                accept="image/jpg,image/jpeg">
              <label for="project_icon_image" class="img-container">
                <img id="project_icon_image_display" class="card-img-top avatar avatar-custom" src=""
                  onerror="javascript:this.src='/static/img/theme/logo.jpg';">
                <div class="overlay">
                  <span class="lang" key="text_upload_file">Upload</span>
                </div>
              </label>
            </div>

            <div class="col-md-8">
              <div class="row-md-4">
                <text class="heading-small text-muted lang" key="text_project_name">NAME</text>
              </div>
              <div class="row-md-6">
                <input id='project_name_display' type="text" class="form-control-custom form-control-flush"
                  placeholder="">
              </div>

              <div class="row-md-4">
                <text class="heading-small text-muted lang" key="text_project_uuid">UUID</text>
              </div>
              <div class="row align-items-center justify-content-center">
                <div class="col-sm">
                  <h4 id='project_id_display' class="text-muted"></h4>
                </div>
                <div class="col-sm">
                  <!-- <div id="qrcode" style="margin-bottom:0.5rem"></div> -->
                </div>
              </div>
            </div>
          </div>










          <h6 class="heading-small text-muted mt-2 lang" key="text_project_banner">BANNER</h6>
          <hr class="my-2">
          <div class="row">
            <div class="col-md-12">
              <div>
                <img id="project_header_image_display" class="card-img-top header-img" src=""
                  onerror="javascript:this.src='/static/img/theme/logo.jpg';">
              </div>
              <div class="mt-1">
                <small class="text-muted lang" key="text_project_upload_tips">Upload an image for your AR experience
                  banner.</small>
                <input type="file" hidden="" class="custom-file-input" id="project_banner_image" src=""
                  onerror="javascript:this.src='/static/img/theme/logo.jpg';">
                <label class="btn btn-icon btn-outline-secondary btn-sm" for="project_banner_image"> <span
                    class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span></label>
              </div>
            </div>
          </div>






          <h6 class="heading-small text-muted mt-2 lang" key="text_project_preview">PREVIEW<span
              id='preview_image_count_display'>(0/6)</span></h6>
          <hr class="my-2">
          <div class="row">
            <div class="col">
              <div id='project_preview_image_display_area' class="scroller-container align-items-center">

              </div>
              <div class="mt-1">
                <small class="text-muted lang" key="text_project_preview_upload_tips">Upload 6 preview screenshot images
                  for your AR experience.</small>
                <input type="file" hidden="" class="custom-file-input" id="project_preview_image" multiple="multiple"
                  src="" onerror="javascript:this.src='/static/img/theme/logo.jpg';">
                <label class="btn btn-icon btn-outline-secondary btn-sm" for="project_preview_image"> <span
                    class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span></label>
              </div>
            </div>
          </div>

          <h6 class="heading-small text-muted mt-4 lang" key="text_project_brief">BRIEF</h6>
          <hr class="my-2">
          <form>
            <div class="form-group">
              <textarea class="form-control" id="project_brief_display" rows="1.5"></textarea>
            </div>
          </form>


          <h6 class="heading-small text-muted mt-4 lang" key="text_project_description">DESCRIPTION</h6>
          <hr class="my-2">
          <form>
            <div class="form-group">
              <textarea class="form-control" id="project_description_display" rows="3"></textarea>
            </div>
          </form>


          <h6 class="heading-small text-muted mt-4 lang" key="text_project_support">SUPPORT(URL)</h6>
          <hr class="my-2">
          <form>
            <div class="form-group">
              <input class="form-control" type="url" value="" id="project_support_url_display">
            </div>
          </form>



          <h6 class="heading-small text-muted mt-4 lang" key="text_project_status">STATUS</h6>
          <hr class="my-2">
          <div class="col-md-12">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-10">
                <small class="lang" key="text_project_weight">Weight</small>
                <span class="ml-1">
                  <button class="tb-tooltip-thin lang" type="button" data-container="body" data-toggle="popover"
                    data-color="secondary" data-placement="right" key="text_project_weight_popover_tip"
                    data-content="This is a very beautiful popover, show some love.">?</button>
                </span>
              </div>

              <div class="col-md-2">
                <input id='project_weight_display' class="form-control-custom" type="text" placeholder="0" value="0">
              </div>
            </div>


            <div class="row align-items-center justify-content-flex-start">
              <div class="col-md-10">
                <small key="text_project_access" class="lang">Access</small>
                <span class="ml-1">
                  <button class="tb-tooltip-thin lang" key="text_project_access_popover_tip" type="button"
                    data-container="body" data-toggle="popover" data-color="secondary" data-placement="right"
                    data-content="This is a very beautiful popover, show some love.">?</button>
                </span>
              </div>

              <div class="col-md-2">
                <label class="custom-toggle align-center">
                  <input id="project_permission_checker" type="checkbox">
                  <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                </label>
              </div>
            </div>



            <div class="row align-items-center justify-content-center">
              <div class="col-md-10">
                <small class="lang" key="text_project_publish">Published</small>
                <span class="ml-1">
                  <button class="tb-tooltip-thin lang" type="button" data-container="body" data-toggle="popover"
                    data-color="secondary" data-placement="right" key="text_project_publish_popover_tip"
                    data-content="This is a very beautiful popover, show some love.">?</button>
                </span>
              </div>

              <div class="col-md-2">
                <label class="custom-toggle align-center">
                  <input id="project_publish_checker" type="checkbox">
                  <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                </label>
              </div>
            </div>


            <div class="row align-items-center justify-content-center">
              <div class="col-md-10">
                <small class="lang" key="text_project_recommend">Recommend</small>
                <span class="ml-1">
                  <button class="tb-tooltip-thin lang" key="text_project_recommend_popover_tip" type="button"
                    data-container="body" data-toggle="popover" data-color="secondary" data-placement="right"
                    data-content="This is a very beautiful popover, show some love.">?</button>
                </span>
              </div>

              <div class="col-md-2">
                <label class="custom-toggle align-center">
                  <input id="project_recommend_checker" type="checkbox">
                  <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                </label>
              </div>
            </div>
          </div>

          <h6 class="heading-small text-muted mt-4 lang" key="text_project_tags">Tags</h6>
          <hr class="my-2">
          <form>
            <select id='project_tags_display' class="form-control" data-toggle="select" multiple>
            </select>
          </form>




          <h6 class="heading-small text-muted mt-4 lang" key="text_project_resources">RESOURCES</h6>
          <hr class="my-2">
          <div id='platform'>
            <div class="nav-wrapper">
              <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="resources-area" role="tablist">
                <li class="nav-item">
                  <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-android-tab" data-toggle="tab"
                    href="#tabs-android-text" role="tab" aria-controls="tabs-android-text" aria-selected="true"><i
                      class="fab fa-android mr-2"></i>Android</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-sm-3 mb-md-0" id="tabs-ios-text-tab" data-toggle="tab" href="#tabs-ios-text"
                    role="tab" aria-controls="tabs-ios-text" aria-selected="false"><i
                      class="fab fa-apple mr-2"></i>iOS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-sm-3 mb-md-0" id="tabs-wsa-text-tab" data-toggle="tab" href="#tabs-wsa-text"
                    role="tab" aria-controls="tabs-was-text" aria-selected="false"><i
                      class="fab fa-microsoft mr-2"></i>Hololens</a>
                      
                </li>
              </ul>
            </div>
            <div class="card shadow">
              <div class="card-body">
                <div class="tab-content" id="contentArea">
                  <!-- Android Start -->
                  <div class="tab-pane fade show active" id="tabs-android-text" role="tabpanel"
                    aria-labelledby="tabs-android-text-tab">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-md-2">
                        <span class="icon icon-shape bg-gradient-red text-white rounded-round shadow">
                          <i class="fab fa-android"></i>
                        </span>
                      </div>

                      <div class="col-md-8">
                        <div id='asseturl-Android'>
                          <div class="row-6">
                            <small>Json: </small>
                            <small id='android-json' class="text-break"></small>
                          </div>
                          <div class="row-6">
                            <small>Bundle: </small>
                            <small id='android-bundle' class="text-break"></small>
                          </div>
                        </div>

                        <div id='spinner-Android' style='display:none;'>
                          <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-2">
                        <form role="form" enctype="multipart/form-data">
                          <input type="file" hidden="" class="custom-file-input" id="Android" multiple="multiple"
                            onchange="androidAssetsSelected()" accept=".json,.arexperience">
                          <label class="btn btn-icon btn-outline-secondary btn-sm" for="Android"> <span
                              class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span></label>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- Android End -->

                  <!-- iOS Start -->
                  <div class="tab-pane fade" id="tabs-ios-text" role="tabpanel" aria-labelledby="tabs-ios-text-tab">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-md-2">
                        <span class="icon icon-shape bg-gradient-red text-white rounded-round shadow">
                          <i class="fab fa-apple"></i>
                        </span>
                      </div>

                      <div class="col-md-8">
                        <div id='asseturl-iOS'>
                          <div class="row-6">
                            <small>Json: </small>
                            <small id='ios-json' class="text-break"></small>
                          </div>
                          <div class="row-6">
                            <small>Bundle: </small>
                            <small id='ios-bundle' class="text-break"></small>
                          </div>
                        </div>

                        <div id='spinner-iOS' style='display:none;'>
                          <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-2">
                        <form role="form" enctype="multipart/form-data">
                          <input type="file" hidden="" class="custom-file-input" id="iOS" multiple="multiple"
                            onchange="iosAssetsSelected()" accept=".json,.arexperience">
                          <label class="btn btn-icon btn-outline-secondary btn-sm" for="iOS"> <span
                              class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span></label>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- iOS End -->

                  <!-- Hololens Start -->
                  <div class="tab-pane fade" id="tabs-wsa-text" role="tabpanel" aria-labelledby="tabs-wsa-text-tab">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-md-2">
                        <span class="icon icon-shape bg-gradient-red text-white rounded-round shadow">
                          <i class="fab fa-microsoft"></i>
                        </span>
                      </div>

                      <div class="col-md-8">
                        <div id='asseturl-WSA'>
                          <div class="row-6">
                            <small>Json: </small>
                            <small id='wsa-json' class="text-break"></small>
                          </div>
                          <div class="row-6">
                            <small>Bundle: </small>
                            <small id='wsa-bundle' class="text-break"></small>
                          </div>
                        </div>

                        <div id='spinner-WSA' style='display:none;'>
                          <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-2">
                        <form role="form" enctype="multipart/form-data">
                          <input type="file" hidden="" class="custom-file-input" id="WSA" multiple="multiple"
                            onchange="wsaAssetsSelected()" accept=".json,.arexperience">
                          <label class="btn btn-icon btn-outline-secondary btn-sm" for="WSA"> <span
                              class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span></label>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- Hololens End -->

                </div>
              </div>
            </div>
          </div>

          <div class="row ml--9">
            <div class="col-md-10"></div>
            <div class="col-md-2">
              <div class="dropdown">
                <button class="btn btn-primary btn-sm dropdown-toggle lang" type="button" id="dropdownMenuButton"
                  key="text_project_apply_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Apply
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item lang" id="project_detail_apply_btn" key="text_project_apply_btn">Apply</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item lang" key="text_project_delete_btn" id="project_delete_btn"
                    data-toggle="modal" data-target="#del-project-modal">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="side-drawer-void" class="position-fixed d-none" onclick="closeSideDrawer()"></div>