{% for tag in all_preset_tags %}
<tr>
    <th scope="row">
        <span class="name mb-0 text-sm">{{tag.tag_name}}</span>
    </th>

    <td>
        <span class="text">{{tag.tag_sort_weight}}</span>
    </td>

    <td>
        <span class="text">{{tag.tag_reference_weight}}</span>
    </td>

    <td>
        <span class="text">{{tag.create_time}}</span>
    </td>

    <td class="table-actions text-right">
        <button class="btn btn-icon-only btn-sm" type="button" onclick="deletetag('{{tag.tag_name}}')">
            <i class="ni ni-fat-remove"></i>
        </button>
    </td>
</tr>
{% endfor %}