<!-- 新建Tag的Modal -->
<div class="modal fade" id="create-new-tags-modal" tabindex="-1" role="dialog"
  aria-labelledby="create-new-tags-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title lang" id="newTagsModalLabel" key="text_tag_manager_new_tag_title">All Tags</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <div class="input-group input-group">
          <input class="form-control" type="text" placeholder="Tag Name" id="new_tag">
          <input class="form-control" type="number" placeholder="Sort Weight" id="tag_weight">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary lang" key="text_tag_manager_new_tag_btn" id="create_tag_btn" onclick="createtag()">Create Tag</button>
      </div>
    </div>
  </div>
</div>