<div class="col-lg-6 col-5 text-right">
    <div class="dropdown  w-100">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" data-target="#create-new-project-modal" data-toggle="modal">
          New Showcase</button>
        <button class="dropdown-item" data-target="#create-new-tags-modal" data-toggle="modal">
          Manage Tags</button>
      </div>
    </div>
  </div>